.CounterCard {
  padding: 2rem;
  display: flex;
  align-items: center;
  width: 49%;
  background-color: #efefef;
  border-radius: 1rem;
}
.CounterCard .icons {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50rem;
  margin-right: 1rem;
}
.CounterCard .icons svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #afafaf;
  width: 20px;
  height: 20px;
}
.CounterCard .tit {
  color: #7c7c7c;
  padding-bottom: 0.5rem;
}
.CounterCard .num {
  font-weight: 700;
  font-size: 1.5rem;
  color: #7c7c7c;
}
